* {
    outline: 0 !important;
}

.space-25 {
    width: 100%;
    clear: left;
    height: 25px;
    display: block;
}

.avatar>a {
    color: #6a6c6f;
}
.avatar>a span {
    color: #424345;
    font-weight: 600;
}